<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable =no">
<title>Boom</title>
<link href="../asset/css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../asset/js/jquery.js"></script>
<script type="text/javascript" src="../asset/js/main.js"></script>
</head>
<body>

<div class="main">

    <div class="enter-view">
        <div class="logo-wrap">
            <img src="../asset/img/logo.png"/>
        </div>

        <div class="btn-wrap1">
        <button id="new_game_btn"><img src="../asset/img/new-btn.png"/></button>
        <button id="enter_game_btn"><img src="../asset/img/enter-btn.png"/></button>
        </div>
    </div>

    <div class="first-view">
        <img class="first-id" src="../asset/img/id-pic.png"/>
        <img class=" first-input-background" src="../asset/img/input-text.png"/>
        <input type="text" name="host_id" id="host_id"/>
        <button id="submit_id_btn"><img src="../asset/img/ok-btn.png"/></button>
    </div>

    <div class="select-team-view">
        <button id="team_red_btn"><img src="../asset/img/red-team.png"/></button>
        <p id="red_status"><span class="entered">2</span>/<span class="need">3</span></p>
        <button id="team_blue_btn"><img src="../asset/img/blue-team.png"/></button>
        <p id="blue_status"><span class="entered">3</span>/<span class="need">3</span></p>
    </div>

    <div class="imformation-view">
        <div class="player-pic">
            <img src="../asset/img/red-head.png"/>
        </div>

        <p id="game_status">Now <span class="red bold">Red Team is bigger</span></p>
        <p id="player_status">Online</p>

        <div class="had-input">
            <img src="../asset/img/had-pic.png"/>
            <span class="r1">31</span><span class="r2">38</span><span class="r3">28</span>

        </div>

        <img class="imformation-input-background" src="../asset/img/input-text.png"/>
        <input type="text" name="input_number" id="input_number" placeholder="" />
        <button id="submit_number_btn"><img src="../asset/img/ok-btn.png"/></button>


    </div>



</div>

</body>
</html>